.containerlista{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    width: 100vw;
    /* height: 100vh; */
    background-color: var(--secondary);
    min-height: 100vh;
    
}

.containerlista > img{
    width: 1440px;
    height: 371px;
    margin-top: 0px;
}