
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/* forma de importação pelo google fonts */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Comfortaa", sans-serif; */
    font-family: "Roboto", sans-serif;
    /*importado por instalação!!!*/
    

}
    :root {
        --primary: #2a4b17;
        --white: #ffffff;
        --darkgreen: #09180e;
        --secondary:  rgb(251, 255, 214);
      }

    
        .container{

        padding: 4em;
      }