.cardcontainer{
    display: flex;
    box-shadow: .2em .2em .8em black;
    height: 15em;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 700px;
}

.cardimagem{
    background-position: center;
}